version: 2.1
orbs:
  orb-tools: circleci/orb-tools@12.3
  tacotruck: {}

filters: &filters
  tags:
    only: /.*/

release-filters: &release-filters
  branches:
    ignore: /.*/
  tags:
    only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

jobs:
  command-test:
    docker:
      - image: cimg/base:current
    steps:
      - checkout
      - tacotruck/greet
workflows:
  test-deploy:
    jobs:
      - command-test:
          filters: *filters
      - orb-tools/pack:
          filters: *release-filters
      - orb-tools/publish:
          orb_name: testfiesta/tacotruck
          vcs_type: gh
          pub_type: dev
          requires:
            - orb-tools/pack
            - command-test
          context: <publishing-context>
          filters: *release-filters
